<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>DevOps</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<div id="header">
</div>
<div id="container">
<div id="menu">
<img src="../static/images/logo.png" alt="logo"/>
<ul>
<li><a href="#">DevOps</a></li>

<li><a href="#">Continuous Integration</a></li>

<li><a href="#">Continuous Deployment</a></li>

<li><a href="#">Reference</a></li>

<li><a href="#">Contact Us</a></li>
</ul>
</div>
<div id="banner">
<img src="../static/images/banner.gif" alt="banner"/>
</div>

<div id="content1">
<h4 class="heading">DevOps </h4>
<p class="para1">DevOps is a set of practices that combines software development and IT operations throughout the cycle of the product right from development to production.</p>
</div>

<div id="content2">
<h4 class="heading">DevOps, Why ? </h4>
<p class="para1">DevOps simplifies the software development process through continuous Integration and Deployment which saves the timeline of the products.</p>
</div>

<div id="content3">
<h4 class="heading">Devops Tools </h4>
<ul>Github</ul>
<ul>Jenkins</ul>
<ul>Sonarqube</ul>
<ul>Artifactory</ul>
<ul>Docker</ul>
<ul>Kubernetes</ul>
    <ul> <a href="#"> More... </a></ul>

</div>

</div>


<div id="footer">
</div>

</body>

